In [1]:
from MRF import *
import pandas as pd

In [2]:
data_in = pd.read_csv("/Users/ryanlucas/Desktop/MRF/MRF_data.csv")

In [3]:
mrf_output = MacroRandomForest(data=data_in,y_pos=0,x_pos=np.arange(1,4), oos_pos=np.arange(151,201),trend_push=4,quantile_rate=0.3)

Tree 1 out of 50

,0,1
0,self.this_data[0] >= 0.08242079362603914,self.this_data[0] < 0.08242079362603914
0,49,63

Tree 2 out of 50

,0,1
0,self.this_data[1] >= -0.25503280874442236,self.this_data[1] < -0.25503280874442236
0,57,37

Tree 3 out of 50

,0,1
0,self.this_data[0] >= -0.9359964496991778,self.this_data[0] < -0.9359964496991778
0,93,18

Tree 4 out of 50

,0,1
0,self.this_data[1] >= -0.6505562122333469,self.this_data[1] < -0.6505562122333469
0,87,21

Tree 5 out of 50

,0,1
0,self.this_data[0] >= -0.44049084251148085,self.this_data[0] < -0.44049084251148085
0,75,37

Tree 6 out of 50

,0,1
0,self.this_data[1] >= -0.4327151232670745,self.this_data[1] < -0.4327151232670745
0,72,39

Tree 7 out of 50

,0,1
0,self.this_data[3] >= -0.2369733948986662,self.this_data[3] < -0.2369733948986662
0,58,45

Tree 8 out of 50

,0,1
0,self.this_data[1] >= -0.2641988155193519,self.this_data[1] < -0.2641988155193519
0,57,49

Tree 9 out of 50

,0,1
0,self.this_data[4] >= 0.07689747270019319,self.this_data[4] < 0.07689747270019319
0,53,54

Tree 10 out of 50

,0,1
0,self.this_data[4] >= -0.27292996142144477,self.this_data[4] < -0.27292996142144477
0,63,45

Tree 11 out of 50

,0,1
0,self.this_data[2] >= 1.3859727056425406,self.this_data[2] < 1.3859727056425406
0,10,102

Tree 12 out of 50

,0,1
0,self.this_data[3] >= -0.4487699086065718,self.this_data[3] < -0.4487699086065718
0,72,39

Tree 13 out of 50

,0,1
0,self.this_data[0] >= -0.7002732492421317,self.this_data[0] < -0.7002732492421317
0,79,22

Tree 14 out of 50

,0,1
0,self.this_data[1] >= -0.43759911793428946,self.this_data[1] < -0.43759911793428946
0,74,36

Tree 15 out of 50

,0,1
0,self.this_data[2] >= -0.9008609748918333,self.this_data[2] < -0.9008609748918333
0,91,18

Tree 16 out of 50

,0,1
0,self.this_data[0] >= -0.4531594327589355,self.this_data[0] < -0.4531594327589355
0,78,34

Tree 17 out of 50

,0,1
0,self.this_data[1] >= -0.2696080242882089,self.this_data[1] < -0.2696080242882089
0,56,47

Tree 18 out of 50

,0,1
0,self.this_data[0] >= -0.6000264260095787,self.this_data[0] < -0.6000264260095787
0,78,24

Tree 19 out of 50

,0,1
0,self.this_data[3] >= -0.4483666561534871,self.this_data[3] < -0.4483666561534871
0,73,35

Tree 20 out of 50

,0,1
0,self.this_data[1] >= -0.44362266806503725,self.this_data[1] < -0.44362266806503725
0,65,35

Tree 21 out of 50

,0,1
0,self.this_data[4] >= -0.47151805132024227,self.this_data[4] < -0.47151805132024227
0,73,35

Tree 22 out of 50

,0,1
0,self.this_data[1] >= -0.45151243254973017,self.this_data[1] < -0.45151243254973017
0,73,32

Tree 23 out of 50

,0,1
0,self.this_data[4] >= -0.44778970448130073,self.this_data[4] < -0.44778970448130073
0,74,36

Tree 24 out of 50

,0,1
0,self.this_data[2] >= -0.44850762843930925,self.this_data[2] < -0.44850762843930925
0,77,35

Tree 25 out of 50

,0,1
0,self.this_data[0] >= -0.6498736116420005,self.this_data[0] < -0.6498736116420005
0,84,22

Tree 26 out of 50

,0,1
0,self.this_data[1] >= -0.3195135870673325,self.this_data[1] < -0.3195135870673325
0,60,34

Tree 27 out of 50

,0,1
0,self.this_data[2] >= -0.43247361949285623,self.this_data[2] < -0.43247361949285623
0,73,39

Tree 28 out of 50

,0,1
0,self.this_data[3] >= -1.5129724958306527,self.this_data[3] < -1.5129724958306527
0,102,4

Tree 29 out of 50

,0,1
0,self.this_data[0] >= -0.023581310744429998,self.this_data[0] < -0.023581310744429998
0,52,52

Tree 30 out of 50

,0,1
0,self.this_data[0] >= -0.4731291864223624,self.this_data[0] < -0.4731291864223624
0,71,31

Tree 31 out of 50

,0,1
0,self.this_data[2] >= -0.43035602368382375,self.this_data[2] < -0.43035602368382375
0,71,31

Tree 32 out of 50

,0,1
0,self.this_data[1] >= -0.2776291916015431,self.this_data[1] < -0.2776291916015431
0,59,42

Tree 33 out of 50

,0,1
0,self.this_data[1] >= -0.4477895019886956,self.this_data[1] < -0.4477895019886956
0,78,32

Tree 34 out of 50

,0,1
0,self.this_data[0] >= -0.4357253986065912,self.this_data[0] < -0.4357253986065912
0,65,34

Tree 35 out of 50

,0,1
0,self.this_data[3] >= 0.27413720995306673,self.this_data[3] < 0.27413720995306673
0,47,54

Tree 36 out of 50

,0,1
0,self.this_data[2] >= -0.4198195505116581,self.this_data[2] < -0.4198195505116581
0,69,38

Tree 37 out of 50

,0,1
0,self.this_data[1] >= -0.46002804131272257,self.this_data[1] < -0.46002804131272257
0,73,35

Tree 38 out of 50

,0,1
0,self.this_data[1] >= -0.9065029194103618,self.this_data[1] < -0.9065029194103618
0,95,15

Tree 39 out of 50

,0,1
0,self.this_data[2] >= -0.6043850684547206,self.this_data[2] < -0.6043850684547206
0,76,27

Tree 40 out of 50

,0,1
0,self.this_data[1] >= -0.4580629275278883,self.this_data[1] < -0.4580629275278883
0,77,34

Tree 41 out of 50

,0,1
0,self.this_data[0] >= -0.46735644072147775,self.this_data[0] < -0.46735644072147775
0,75,36

Tree 42 out of 50

,0,1
0,self.this_data[3] >= -0.4221562044459538,self.this_data[3] < -0.4221562044459538
0,74,37

Tree 43 out of 50

,0,1
0,self.this_data[4] >= -0.4723149860779478,self.this_data[4] < -0.4723149860779478
0,74,31

Tree 44 out of 50

,0,1
0,self.this_data[0] >= -0.456598351211958,self.this_data[0] < -0.456598351211958
0,73,35

Tree 45 out of 50

,0,1
0,self.this_data[2] >= -0.28035252512577097,self.this_data[2] < -0.28035252512577097
0,62,39

Tree 46 out of 50

,0,1
0,self.this_data[3] >= 0.07959112578312974,self.this_data[3] < 0.07959112578312974
0,54,53

Tree 47 out of 50

,0,1
0,self.this_data[2] >= -0.4660549767609371,self.this_data[2] < -0.4660549767609371
0,65,37

Tree 48 out of 50

,0,1
0,self.this_data[3] >= -0.2685254489918534,self.this_data[3] < -0.2685254489918534
0,64,39

Tree 49 out of 50

,0,1
0,self.this_data[4] >= -0.46959207741197795,self.this_data[4] < -0.46959207741197795
0,77,25

Tree 50 out of 50

,0,1
0,self.this_data[3] >= -0.911733721222224,self.this_data[3] < -0.911733721222224
0,78,22

In [4]:
test_df = pd.DataFrame([1,2,3,4,6])

In [5]:
test_df[test_df[0] > 3]

   0
3  4
4  6